<h2>User info</h2>
  <%= image_tag current_user.get_profile_image(100, 100) %>
  <table>
    <tbody>
      <tr>
        <th><p>name</p></th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th><p>introduction</p></th>
        <th><%= current_user.introduction %></th>
      </tr>
    </tbody>
  </table>

<%= link_to "Edit",edit_user_path(current_user) %>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <td><%= image_tag user.get_profile_image(100, 100) %></td>
    <td><%=user.name %></td>
    <% end %>
  </tbody>
</table>
