<%= render 'shared/user_info' %>

<h2>New book</h2>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
    <td><%= image_tag user.get_profile_image(100, 100) %></td>
    <td><%= user.name %></td>
    <td><%= link_to 'Show' , user_path(user.id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
