<% if @book.errors.any? %>
  <h4><%= @book.errors.count %>errors prohibited this obj from being saved:</h4>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>

<br>
  <%= f.submit 'Update Book' %>
<% end %>
<%= link_to 'Show' , book_path(@book.id) %>
<%= link_to 'Back' , books_path %>