<div class="container">
  <%= flash[:notice] %>
    <div class="row">
      <div class="col-md-3">
        <%= render partial: "partial/user_info", locals: { user: @book.user }%>
        <h2 class=>New book</h2>
        <%= render 'form', book: Book.new %>
        </div>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <%= link_to user_path(@book.user) do %>
                      <%= image_tag @book.user.get_profile_image(50, 50) %><br>
                      <%= @book.user.name %>
                    <% end %>
                  </td>
                  <td><%= link_to @book.title , book_path(@book) %></td>
                  <td><%= @book.body %></td>
                  <td>
                  <% if @book.category.present? %>
                    <%=link_to@book.category,tagsearches_search_path(content:@book.category)%>
                  <% end %>
                  </td>
                  <td id="favorite_buttons_<%= @book.id %>" >
                    <%= render "favorites/favorite", book: @book %>
                  </td>
                  <td>コメント件数:<span id="comment_count"><%= @book.post_comments.count %></span></td>
                  <td><%= render "static_rate", book: @book %></td>
                  <% if @book.user == current_user %>
                  <td><%= link_to "Edit", edit_book_path(@book) , class: "btn btn-sm btn-success edit_book_72734" %></td>
                  <td><%= link_to "Destroy", book_path(@book), class: "btn btn-sm btn-danger destroy_book_72734", method: :delete, data: { confirm: "本当に消しますか？" } %></td>
                    <% end %>
                </tr>
              </tbody>
            </table>
          <div id="post-comments">
            <%= render "post_comments/show" , { book: @book , post_comment: @post_comment } %><br>
          </div>
          <div id="comment-form">
            <%= render "post_comments/form" , { book: @book , post_comment: @post_comment } %>
          </div>
      </div>
    </div>
</div>