<%= flash[:notice] %>

<%= render 'shared/user_info' %>

<h2>New book</h2>
<%= form_with model: @book_new do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>

  <p>Opinion</p>
  <%= f.text_area :body %>
<br>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
        <td><%= image_tag @user.get_profile_image(100, 100) %></td>
        <td><%= link_to @user.name , user_path(@user) %></td>
        <td><%= link_to @book.title , book_path(@book) %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Destroy", book_path(@book),method: :delete %></td>
          <% end %>
      </tr>
  </tbody>s
</table>
