<%= flash[:notice] %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'shared/user_info' %>
      <%= render 'shared/new_books' %>
    </div>

<div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
        <td><%= image_tag @user.get_profile_image(100, 100) %><br>
        <%= link_to @user.name , user_path(@user) %></td>
        <td><%= link_to @book.title , book_path(@book) %></td>
        <td><%= @book.body %></td>
        <% if @book.user == current_user %>

        <td><%= link_to "Edit", edit_book_path(@book) , class: "btn btn-sm btn-success edit_book_72734" %></td>
        <td><%= link_to "Destroy", book_path(@book), class: "btn btn-sm btn-danger destroy_book_72734", method: :delete, data: { confirm: "本当に消しますか？" } %></td>

          <% end %>
      </tr>
  </tbody>
</table>
</div>
</div>
</div>